<div class="row">
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
  <div class="col-md-3">
    <player-information></player-information>
  </div>
</div>
